Node-Red Flows/AudioDetection_NRFlow.json
[{"id":"6532d2b.7d0962c","type":"tab","label":"Audio Flow","disabled":false,"info":""},{"id":"9c5de7cb.2558d8","type":"inject","z":"6532d2b.7d0962c","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":200,"wires":[["bb8285f7.0392b8"]]},{"id":"bb8285f7.0392b8","type":"db","z":"6532d2b.7d0962c","name":"","x":390,"y":220,"wires":[["64c43418.946d0c"]]},{"id":"64c43418.946d0c","type":"function","z":"6532d2b.7d0962c","name":"Get Average Decibels","func":"msg.payload = msg.payload.avg;\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":100,"wires":[["c36f3e7.44e2ac","739a9f49.de031"]]},{"id":"c36f3e7.44e2ac","type":"debug","z":"6532d2b.7d0962c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":100,"wires":[]},{"id":"8930a70c.b9fe18","type":"mqtt out","z":"6532d2b.7d0962c","name":"","topic":"Audio/DecibelLevel","qos":"1","retain":"","broker":"4ed0eb13.1c2044","x":1050,"y":180,"wires":[]},{"id":"739a9f49.de031","type":"switch","z":"6532d2b.7d0962c","name":"Notify for Loud Noises","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":180,"wires":[["8930a70c.b9fe18"]]},{"id":"4ed0eb13.1c2044","type":"mqtt-broker","name":"FromMobileMQTT","broker":"192.168.1.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]