Node-Red Flows/SpotifyProject_NRFlows.json
[{"id":"db8e9219.44b94","type":"tab","label":"Spotify Project","disabled":false,"info":""},{"id":"9b294c2d.80b208","type":"function","z":"db8e9219.44b94","name":"Create Playlist Query","func":"//API Function: Get user information\n\nmsg.params = [\n    \"5OO9vXeBflAAHB7XDmpmlG\", /*Playlist ID*/\n    {\n        market: \"ES\",   /*Required Field*/\n        fields: \"items(track(id,uri,name,album(name),artists(name)))\" /*filters for query*/\n    }\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":200,"wires":[["4aa09b72.8a6d24"]]},{"id":"acc0f469.7c41e","type":"inject","z":"db8e9219.44b94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["9b294c2d.80b208"]]},{"id":"b6d217.c7f53de8","type":"debug","z":"db8e9219.44b94","name":"Playlist Tracks Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"4aa09b72.8a6d24","type":"spotify","z":"db8e9219.44b94","name":"","auth":"1291c5d9.d67eba","api":"getPlaylistTracks","x":510,"y":200,"wires":[["b6d217.c7f53de8","3d21b943.e47886"]]},{"id":"3d21b943.e47886","type":"function","z":"db8e9219.44b94","name":"Create Lullabies List","func":"//create a list of the tracks available in the playlist\nlullabiesList = {\"lullabyTracks\": []};\n\nvar allItems = msg.payload.items;\n\nfor (i = 0; i < allItems.length; i++)\n{\n    var trackInfo = {\n        \"trackID\": allItems[i].track.id,\n        \"trackURI\": allItems[i].track.uri,\n        \"trackName\": allItems[i].track.name,\n        \"artistName\": allItems[i].track.artists[0].name,\n        \"albumName\": allItems[i].track.album.name\n    }\n    \n    lullabiesList.lullabyTracks.push(trackInfo); \n}\n\n\n//set list as new payload\nmsg.payload = lullabiesList;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":200,"wires":[["3fcd8e85.e79b42","6817e045.0e92c8"]]},{"id":"3fcd8e85.e79b42","type":"debug","z":"db8e9219.44b94","name":"lullabyTracks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"98374f0a.30323","type":"http in","z":"db8e9219.44b94","name":"Spotify End Point - GET All Lullabies","url":"/lullabiesList","method":"get","upload":false,"swaggerDoc":"","x":180,"y":140,"wires":[["9b294c2d.80b208","bf9053fc.c1361"]]},{"id":"6817e045.0e92c8","type":"http response","z":"db8e9219.44b94","name":"HTTP Response","statusCode":"200","headers":{},"x":900,"y":260,"wires":[]},{"id":"20b4804a.7f96e8","type":"comment","z":"db8e9219.44b94","name":"Getting All Tracks List from the Lullabies Playlist","info":"","x":200,"y":80,"wires":[]},{"id":"27af55.8ad7d0ac","type":"comment","z":"db8e9219.44b94","name":"Set the Selected Lullaby (& Play it on Repeat)","info":"","x":190,"y":740,"wires":[]},{"id":"1acdb7e8.548818","type":"inject","z":"db8e9219.44b94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":800,"wires":[["8bbc97e3.28c65"]]},{"id":"3237bb1.46143c4","type":"spotify","z":"db8e9219.44b94","name":"Start/Resume User Playback","auth":"b30bf4e1.2b17a8","api":"play","x":610,"y":800,"wires":[["672ebf71.61efd"]]},{"id":"8bbc97e3.28c65","type":"function","z":"db8e9219.44b94","name":"Create Playback Query","func":"//API Function: Get track information needed to add + play the track\n\n\nmsg.params = [\n    {\n        uris: [ flow.get(\"selectedTrackURI\") ],    /*track uri(s) to play*/\n        device_id: flow.get(\"activeDeviceID\")   /*active device's ID*/\n    }\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":800,"wires":[["3237bb1.46143c4"]]},{"id":"672ebf71.61efd","type":"debug","z":"db8e9219.44b94","name":"'Playback Set' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":800,"wires":[]},{"id":"b33a1c44.146df","type":"spotify","z":"db8e9219.44b94","name":"","auth":"b30bf4e1.2b17a8","api":"setRepeat","x":660,"y":903,"wires":[["14e6731c.9652e5","c78f3cae.2d569"]]},{"id":"f7704a1a.871818","type":"function","z":"db8e9219.44b94","name":"Create Repeat Track Query","func":"//API Function: Get track information needed to add + play the track\n\nmsg.params = [\n    {\n        state: \"track\", /*Required: Specify state to repeat (repeat on for track)*/\n        device_id: flow.get(\"activeDeviceID\")   /*active device's ID*/\n    }\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":903,"wires":[["b33a1c44.146df"]]},{"id":"14e6731c.9652e5","type":"debug","z":"db8e9219.44b94","name":"'Set Repeat' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":883,"wires":[]},{"id":"bd985289.83aea","type":"comment","z":"db8e9219.44b94","name":"[1.] Get User's Active Devices (to play on)","info":"","x":180,"y":520,"wires":[]},{"id":"805846bb.8130e8","type":"spotify","z":"db8e9219.44b94","name":"","auth":"b30bf4e1.2b17a8","api":"getMyDevices","x":330,"y":600,"wires":[["db0f20dc.786898","3c15861d.21906a"]]},{"id":"5962e31e.84e58c","type":"inject","z":"db8e9219.44b94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":600,"wires":[["805846bb.8130e8"]]},{"id":"db0f20dc.786898","type":"debug","z":"db8e9219.44b94","name":"'Devices' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"3c15861d.21906a","type":"function","z":"db8e9219.44b94","name":"Set Device ID","func":"\n//check if at least one active device exists\nvar devicesAvailable = msg.payload.devices;     /*array returned*/\n\nvar selectedDeviceID;\nvar deviceFound = false;\n\nif (devicesAvailable.length > 0)    /*at least 1 device exists*/\n{\n    selectedDeviceID = devicesAvailable[0].id;\n    deviceFound = true;\n    \n    //set active device ID as flow variable (to access later)\n    flow.set(\"activeDeviceID\", selectedDeviceID);\n}\n\n//set new payload\nmsg.payload = {\n    \"deviceFound\": deviceFound,\n    \"deviceID\": selectedDeviceID\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":600,"wires":[["48e84c8d.18da84","683cb2a7.2de9c4"]]},{"id":"48e84c8d.18da84","type":"debug","z":"db8e9219.44b94","name":"'Device ID Found'","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":560,"wires":[]},{"id":"683cb2a7.2de9c4","type":"switch","z":"db8e9219.44b94","name":"Switch - Check Device Found (F/T)","property":"payload.deviceFound","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":666,"wires":[["b71b16f6.13d87"],["8bbc97e3.28c65"]]},{"id":"b71b16f6.13d87","type":"function","z":"db8e9219.44b94","name":"Create 'No Device' Message","func":"\nmsg.payload = {\"result\": \"Error. No Active Spotify Device Found.\"}; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":660,"wires":[["3c1dcab.1a64236","9b0211c8.1648f"]]},{"id":"e2439466.ce6248","type":"complete","z":"db8e9219.44b94","name":"Wait for Playback to Set","scope":["672ebf71.61efd"],"uncaught":false,"x":130,"y":863,"wires":[["dba71188.3e6eb"]]},{"id":"dba71188.3e6eb","type":"delay","z":"db8e9219.44b94","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":903,"wires":[["f7704a1a.871818"]]},{"id":"c78f3cae.2d569","type":"function","z":"db8e9219.44b94","name":"Create 'Success' Message","func":"\nmsg.payload = {\"result\": \"Success! Lullaby set, playing, and on repeat.\"}; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":963,"wires":[["83982386.90b36","ba0160c6.75ac7"]]},{"id":"3c1dcab.1a64236","type":"debug","z":"db8e9219.44b94","name":"'Device Error' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":600,"wires":[]},{"id":"83982386.90b36","type":"debug","z":"db8e9219.44b94","name":"'Lullaby Success' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1003,"wires":[]},{"id":"f60fa960.28a17","type":"http in","z":"db8e9219.44b94","name":"Spotify End Point - (GET) Set Lullaby","url":"/setLullaby","method":"get","upload":false,"swaggerDoc":"","x":210,"y":460,"wires":[["bdb23c1c.cae0c"]]},{"id":"bdb23c1c.cae0c","type":"function","z":"db8e9219.44b94","name":"Get Lullaby Track URI from Query","func":"\n//query parameters are accessed through msg.req.query\nvar trackURI = msg.req.query.trackURI;\n\n//set selected lullaby track's URI to a flow variable (to use later)\nflow.set(\"selectedTrackURI\", trackURI);\n\n//no changes made to message (to keep msg req/res as is)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":460,"wires":[["805846bb.8130e8"]]},{"id":"9b0211c8.1648f","type":"http response","z":"db8e9219.44b94","name":"HTTP Error Response","statusCode":"404","headers":{},"x":880,"y":720,"wires":[]},{"id":"ba0160c6.75ac7","type":"http response","z":"db8e9219.44b94","name":"HTTP Success Response","statusCode":"200","headers":{},"x":680,"y":963,"wires":[]},{"id":"39767cc8.71c2a4","type":"spotify","z":"db8e9219.44b94","name":"","auth":"b30bf4e1.2b17a8","api":"setVolume","x":470,"y":1620,"wires":[["22a6eff2.ef425","2ca88ef3.856e3a"]]},{"id":"62fe4c9f.73ea14","type":"comment","z":"db8e9219.44b94","name":"ENDPOINT PROCESS FOR SETTING LULLABY","info":"","x":200,"y":400,"wires":[]},{"id":"1e396e79.3e9a8a","type":"comment","z":"db8e9219.44b94","name":"Set the Volume [if device found]","info":"","x":150,"y":1560,"wires":[]},{"id":"3ae22101.797d66","type":"comment","z":"db8e9219.44b94","name":"[1.] Get User's Active Devices (to play on)","info":"","x":180,"y":1360,"wires":[]},{"id":"d74e815c.ed91b","type":"spotify","z":"db8e9219.44b94","name":"","auth":"b30bf4e1.2b17a8","api":"getMyDevices","x":330,"y":1440,"wires":[["1c3cfd80.da01bb","26e21871.6677c8"]]},{"id":"19177636.a364d2","type":"inject","z":"db8e9219.44b94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1440,"wires":[["d74e815c.ed91b"]]},{"id":"1c3cfd80.da01bb","type":"debug","z":"db8e9219.44b94","name":"'Devices' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":1400,"wires":[]},{"id":"26e21871.6677c8","type":"function","z":"db8e9219.44b94","name":"Set Device ID","func":"\n//check if at least one active device exists\nvar devicesAvailable = msg.payload.devices;     /*array returned*/\n\nvar selectedDeviceID;\nvar deviceFound = false;\n\nif (devicesAvailable.length > 0)    /*at least 1 device exists*/\n{\n    selectedDeviceID = devicesAvailable[0].id;\n    deviceFound = true;\n    \n    //set active device ID as flow variable (to access later)\n    flow.set(\"activeDeviceID\", selectedDeviceID);\n}\n\n//set new payload\nmsg.payload = {\n    \"deviceFound\": deviceFound,\n    \"deviceID\": selectedDeviceID\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1440,"wires":[["ca09c5cc.668028","fb1cf518.8ad37"]]},{"id":"ca09c5cc.668028","type":"debug","z":"db8e9219.44b94","name":"'Device ID' Found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1400,"wires":[]},{"id":"fb1cf518.8ad37","type":"switch","z":"db8e9219.44b94","name":"Switch - Check Device Found (F/T)","property":"payload.deviceFound","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":1506,"wires":[["193371d1.c71566"],["addb547a.016078"]]},{"id":"193371d1.c71566","type":"function","z":"db8e9219.44b94","name":"Create 'No Device' Message","func":"\nmsg.payload = {\"result\": \"Error. No Active Spotify Device Found.\"}; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1500,"wires":[["b285bc84.dc677","29296147.8a49b6"]]},{"id":"b285bc84.dc677","type":"debug","z":"db8e9219.44b94","name":"'Device Error' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1440,"wires":[]},{"id":"919d3f57.1fe4c8","type":"http in","z":"db8e9219.44b94","name":"Spotify End Point - (GET) Set Volume","url":"/setVolume","method":"get","upload":false,"swaggerDoc":"","x":210,"y":1300,"wires":[["a1a382d8.9f926"]]},{"id":"a1a382d8.9f926","type":"function","z":"db8e9219.44b94","name":"Get Volume Percent from Query","func":"\n//query parameters are accessed through msg.req.query\nvar volumeLevel = msg.req.query.volumeLevel;\n\n//set selected volume level to a flow variable (to use later)\nflow.set(\"volumeLevel\", volumeLevel);\n\n//no changes made to message (to keep msg req/res as is)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1300,"wires":[["d74e815c.ed91b"]]},{"id":"29296147.8a49b6","type":"http response","z":"db8e9219.44b94","name":"HTTP Error Response","statusCode":"404","headers":{},"x":880,"y":1560,"wires":[]},{"id":"33ce7559.50eb9a","type":"comment","z":"db8e9219.44b94","name":"ENDPOINT PROCESS FOR SETTING VOLUME","info":"","x":200,"y":1240,"wires":[]},{"id":"addb547a.016078","type":"function","z":"db8e9219.44b94","name":"Create Volume Query","func":"//API Function: Get volume information\n\n\nmsg.params = [\n    flow.get(\"volumeLevel\"),    /*volume percent*/\n    {\n        device_id: flow.get(\"activeDeviceID\")   /*active device's ID*/\n    }\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1620,"wires":[["39767cc8.71c2a4"]]},{"id":"22a6eff2.ef425","type":"debug","z":"db8e9219.44b94","name":"'Set Volume' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1620,"wires":[]},{"id":"2ca88ef3.856e3a","type":"function","z":"db8e9219.44b94","name":"Create 'Success' Message","func":"\nmsg.payload = {\"result\": \"Success! New Volume set.\"}; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1680,"wires":[["becc27f2.a0c85","9b5e311c.11fbd"]]},{"id":"becc27f2.a0c85","type":"debug","z":"db8e9219.44b94","name":"'Volume Success' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":1720,"wires":[]},{"id":"9b5e311c.11fbd","type":"http response","z":"db8e9219.44b94","name":"HTTP Success Response","statusCode":"200","headers":{},"x":770,"y":1680,"wires":[]},{"id":"ce75847e.e967","type":"spotify","z":"db8e9219.44b94","name":"Pause Playback","auth":"b30bf4e1.2b17a8","api":"pause","x":460,"y":2260,"wires":[["21ccefe1.20722","29e06eee.9ba3aa"]]},{"id":"b54e187e.b237f8","type":"comment","z":"db8e9219.44b94","name":"Pause Playback [if device found]","info":"","x":150,"y":2200,"wires":[]},{"id":"29204ea0.3cfb8a","type":"comment","z":"db8e9219.44b94","name":"[1.] Get User's Active Devices (to play on)","info":"","x":180,"y":2000,"wires":[]},{"id":"34a69128.131256","type":"spotify","z":"db8e9219.44b94","name":"","auth":"b30bf4e1.2b17a8","api":"getMyDevices","x":330,"y":2080,"wires":[["3b4043f4.3033cc","8d6cb44b.457e8"]]},{"id":"db055259.00a2e","type":"inject","z":"db8e9219.44b94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2080,"wires":[["34a69128.131256"]]},{"id":"3b4043f4.3033cc","type":"debug","z":"db8e9219.44b94","name":"'Devices' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":2020,"wires":[]},{"id":"8d6cb44b.457e8","type":"function","z":"db8e9219.44b94","name":"Set Device ID","func":"\n//check if at least one active device exists\nvar devicesAvailable = msg.payload.devices;     /*array returned*/\n\nvar selectedDeviceID;\nvar deviceFound = false;\n\nif (devicesAvailable.length > 0)    /*at least 1 device exists*/\n{\n    selectedDeviceID = devicesAvailable[0].id;\n    deviceFound = true;\n    \n    //set active device ID as flow variable (to access later)\n    flow.set(\"activeDeviceID\", selectedDeviceID);\n}\n\n//set new payload\nmsg.payload = {\n    \"deviceFound\": deviceFound,\n    \"deviceID\": selectedDeviceID\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":2080,"wires":[["68c841b9.bc80f","7d2e212.5aef0e"]]},{"id":"68c841b9.bc80f","type":"debug","z":"db8e9219.44b94","name":"'Device ID' Found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":2040,"wires":[]},{"id":"7d2e212.5aef0e","type":"switch","z":"db8e9219.44b94","name":"Switch - Check Device Found (F/T)","property":"payload.deviceFound","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":2146,"wires":[["c346e20f.82dfe8"],["b91aeb80.d6b96"]]},{"id":"c346e20f.82dfe8","type":"function","z":"db8e9219.44b94","name":"Create 'No Device' Message","func":"\nmsg.payload = {\"result\": \"Error. No Active Spotify Device Found.\"}; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":2140,"wires":[["3070e420.e2a05c","c737436d.fa75"]]},{"id":"3070e420.e2a05c","type":"debug","z":"db8e9219.44b94","name":"'Device Error' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":2080,"wires":[]},{"id":"4fedc1b.d37774","type":"http in","z":"db8e9219.44b94","name":"Spotify End Point - (GET) Pause Playback","url":"/pausePlayback","method":"get","upload":false,"swaggerDoc":"","x":240,"y":1940,"wires":[["34a69128.131256"]]},{"id":"c737436d.fa75","type":"http response","z":"db8e9219.44b94","name":"HTTP Error Response","statusCode":"404","headers":{},"x":880,"y":2200,"wires":[]},{"id":"a9d78022.653e3","type":"comment","z":"db8e9219.44b94","name":"ENDPOINT PROCESS FOR PAUSING PLAYBACK","info":"","x":210,"y":1880,"wires":[]},{"id":"b91aeb80.d6b96","type":"function","z":"db8e9219.44b94","name":"Create Pause Query","func":"//API Function: Set device information to pause playback\n\n\nmsg.params = [\n    /*No required parameters*/\n    {\n        device_id: flow.get(\"activeDeviceID\")   /*active device's ID*/\n    }\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":2260,"wires":[["ce75847e.e967"]]},{"id":"21ccefe1.20722","type":"debug","z":"db8e9219.44b94","name":"'Pause Playback' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":2260,"wires":[]},{"id":"29e06eee.9ba3aa","type":"function","z":"db8e9219.44b94","name":"Create 'Success' Message","func":"\n//check if pause API call was successful\nif (msg.error)  /*error exists - means nothing there to pause*/\n{\n    msg.payload = {\"result\": \"Nothing to pause.\"};\n}\nelse /*no error - successful pause*/\n{\n    msg.payload = {\"result\": \"Success! Playback Paused.\"};    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":2320,"wires":[["b9faef29.69d758","7dd6b78.472c148"]]},{"id":"b9faef29.69d758","type":"debug","z":"db8e9219.44b94","name":"'Pause Success' Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":2360,"wires":[]},{"id":"7dd6b78.472c148","type":"http response","z":"db8e9219.44b94","name":"HTTP Success Response","statusCode":"200","headers":{},"x":770,"y":2320,"wires":[]},{"id":"9b078b4f.2d36e","type":"comment","z":"db8e9219.44b94","name":"ENDPOINT PROCESS FOR GETTING ALL LULLABY TRACK OPTIONS","info":"","x":270,"y":40,"wires":[]},{"id":"bf9053fc.c1361","type":"debug","z":"db8e9219.44b94","name":"Request Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"1291c5d9.d67eba","type":"spotify-auth","name":"Spotify OAuth2 - Current Playing Track","scope":"user-read-currently-playing"},{"id":"b30bf4e1.2b17a8","type":"spotify-auth","name":"Spotify OAuth - Playback","scope":"user-read-playback-state, user-modify-playback-state"}]